body{
    margin:0;
    background:#eef2f7;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    max-width:900px;
    margin:40px auto;
}

h1{
    text-align:center;
    color:#1f2937;
}

.card{
    background:white;
    margin-top:25px;
    padding:25px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

input{
    margin-top:15px;
}

p{
    margin-top:15px;
}